/* Styles belonging to the ContactForm component */
.contact-form {
  // Placing form in the center of the page
  display: flex;
  align-items: center;
  justify-content: center;

  /* Form styles */
  .form {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 600px;

    .heading {
      margin-bottom: 2rem;
    }

    .personal-details {
      // Text box media query for mobile devices
      @media (min-width: 40em) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }

    /*  Radio button container styles */
    .radio-container {
      label[class="radio-input"] {
        display: block;
        margin-bottom: 10px;
      }

      label[class="radio-input"]::after {
        content: "*";
        margin-left: 0.7rem;
        color: hsl(169, 82%, 27%);
      }

      .radio-button {
        // Radio button media query for mobile
        @media (min-width: 40em) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
        }

        // Radio button styles
        input[type="radio"] {
          margin-right: 1rem;
          //display: none;
        }

        label,
        input[type="radio"] {
          cursor: pointer;
        }

        // Radio button label styles
        .form-control {
          position: relative;
          border: 1px solid hsl(186, 15%, 59%);
          border-radius: 5px;
          padding: 10px 0 10px 30px;
        }
      }
    }

    .form-control {
      position: relative;
      margin-bottom: 15px;

      /* Label styles */
      label[class="text-input"] {
        display: block;
        margin-bottom: 10px;
      }

      label[class="text-input"]::after,
      label[class="check-input"]::after {
        content: "*";
        margin-left: 0.7rem;
        color: hsl(169, 82%, 27%);
      }

      label[class="check-input"]:hover {
        cursor: pointer;
      }
    }

    /* Error styles */
    .error {
      border: 1px solid hsl(0, 66%, 56%);
    }

    /* Text and text area input styles  */
    input[type="text"] {
      width: 100%;
      border-radius: 5px;
      border: 1px solid hsl(186, 15%, 59%);
      outline: none;
      height: 40px;
      padding: 1rem;
    }

    textarea {
      width: 100%;
      border-radius: 5px;
      border: 1px solid hsl(186, 15%, 59%);
      outline: none;
      padding: 1rem;
    }

    input[type="text"]:focus,
    textarea:focus {
      border: 1px solid hsl(169, 82%, 27%);
    }

    /* Checkbox styles */
    input[type="checkbox"] {
      margin-right: 1rem;
    }

    /* Button styles */
    button {
      display: block;
      width: 100%;
      border: none;
      border-radius: 10px;
      padding: 1rem;
      background-color: hsl(169, 82%, 27%);
      color: hsl(0, 0%, 100%);
      font-weight: 600;
    }

    button:hover {
      background-color: hsl(187, 24%, 22%);
    }
  }
}
